In [1]:
!pip install pandas numpy

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.3.3)
Requirement already satisfied: numpy in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np

In [9]:
df_user = pd.read_csv('user_demographics.csv')
df_purchase = pd.read_csv('User_product_purchase_details_p2.csv')

In [10]:
df_user.head(10)

   User_ID Gender    Age  Occupation
0  1000001      F   0-17          10
1  1000002      M    55+          16
2  1000003      M  26-35          15
3  1000004      M  46-50           7
4  1000005      M  26-35          20
5  1000006      F  51-55           9
6  1000007      M  36-45           1
7  1000008      M  26-35          12
8  1000009      M  26-35          17
9  1000010      F  36-45           1

In [11]:
df_purchase.head(10)

,User_ID,Product_ID,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,A,1,1,8,NaN,NaN,7871

In [12]:
df_user.sample(3)

      User_ID Gender    Age  Occupation
1355  1001523      M  26-35          17
5613  1004372      M  36-45          17
4479  1005082      M  36-45           1

In [13]:
df_purchase.sample(3)

,User_ID,Product_ID,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
136086,1003029,P00045342,A,4+,0,1,5.0,17.0,11863
146273,1004520,P00174242,C,1,1,15,16.0,NaN,12462
84320,1001051,P00216342,A,0,1,3,4.0,5.0,13190

In [14]:
df = pd.merge(df_purchase, df_user, on="User_ID", how="left")

In [15]:
df

,User_ID,Product_ID,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Gender,Age,Occupation
0,1000001,P00069042,A,2,0,3,NaN,NaN,8370,F,0-17,10
1,1000001,P00248942,A,2,0,1,6.0,14.0,15200,F,0-17,10
2,1000001,P00087842,A,2,0,12,NaN,NaN,1422,F,0-17,10
3,1000001,P00085442,A,2,0,12,14.0,NaN,1057,F,0-17,10
4,1000002,P00285442,C,4+,0,8,NaN,NaN,7969,M,55+,16
...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,B,1,1,20,NaN,NaN,368,M,51-55,13
550064,1006035,P00375436,C,3,0,20,NaN,NaN,371,F,26-35,1
550065,1006036,P00375436,B,4+,1,20,NaN,NaN,137,F,26-35,15
550066,1006038,P00375436,C,2,0,20,NaN,NaN,365,F,55+,1
550067,1006039,P00371644,B,4+,1,20,NaN,NaN,490,F,46-50,0

In [16]:
df["High_Value_Purchase"] = (df["Purchase"] >= 10000).astype(int)

In [17]:
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

In [18]:
categorical_cols = df.select_dtypes(include=['object']).columns
df[categorical_cols] = df[categorical_cols].fillna(df[categorical_cols].mode().iloc[0])

In [20]:
df.head(20)

,User_ID,Product_ID,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Gender,Age,Occupation,High_Value_Purchase
0,1000001,P00069042,A,2,0,3,9.842329,12.668243,8370,F,0-17,10,0
1,1000001,P00248942,A,2,0,1,6.000000,14.000000,15200,F,0-17,10,1
2,1000001,P00087842,A,2,0,12,9.842329,12.668243,1422,F,0-17,10,0
3,1000001,P00085442,A,2,0,12,14.000000,12.668243,1057,F,0-17,10,0
4,1000002,P00285442,C,4+,0,8,9.842329,12.668243,7969,M,55+,16,0
5,1000003,P00193542,A,3,0,1,2.000000,12.668243,15227,M,26-35,15,1
6,1000004,P00184942,B,2,1,1,8.000000,17.000000,19215,M,46-50,7,1
7,1000004,P00346142,B,2,1,1,15.000000,12.668243,15854,M,46-50,7,1
8,1000004,P0097242,B,2,1,1,16.000000,12.668243,15686,M,46-50,7,1
9,1000005,P00274942,A,1,1,8,9.842329,12.668243,7871,M,26-35,20,0
10,1000005,P00251242,A,1,1,5,11.000000,12.668243,5254,M,26-35,20,0
11,1000005,P00014542,A,1,1,8,9.842329,12.668243,3957,M,26-35,20,0
12,1000005,P00031342,A,1,1,8,9.842329,12.668243,6073,M,26-35,20,0
13,1000005,P00145042,A,1,1,1,2.000000,5.000000,15665,M,26-35,20,1
14,1000006,P00231342,A,1,0,5,8.000000,14.000000,5378,F,51-55,9,0
15,1000006,P00190242,A,1,0,4,5.000000,12.668243,2079,F,51-55,9,0
16,1000006,P0096642,A,1,0,2,3.000000,4.000000,13055,F,51-55,9,1
17,1000006,P00058442,A,1,0,5,14.000000,12.668243,8851,F,51-55,9,0
18,1000007,P00036842,B,1,1,1,14.000000,16.000000,11788,M,36-45,1,1
19,1000008,P00249542,C,4+,1,1,5.000000,15.000000,19614,M,26-35,12,1

In [21]:
df_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

In [23]:
df_encoded.head(20)

,User_ID,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Occupation,High_Value_Purchase,Product_ID_P00000242,Product_ID_P00000342,...,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+,Gender_M,Age_18-25,Age_26-35,Age_36-45,Age_46-50,Age_51-55,Age_55+
0,1000001,0,3,9.842329,12.668243,8370,10,0,False,False,...,True,False,False,False,False,False,False,False,False,False
1,1000001,0,1,6.000000,14.000000,15200,10,1,False,False,...,True,False,False,False,False,False,False,False,False,False
2,1000001,0,12,9.842329,12.668243,1422,10,0,False,False,...,True,False,False,False,False,False,False,False,False,False
3,1000001,0,12,14.000000,12.668243,1057,10,0,False,False,...,True,False,False,False,False,False,False,False,False,False
4,1000002,0,8,9.842329,12.668243,7969,16,0,False,False,...,False,False,True,True,False,False,False,False,False,True
5,1000003,0,1,2.000000,12.668243,15227,15,1,False,False,...,False,True,False,True,False,True,False,False,False,False
6,1000004,1,1,8.000000,17.000000,19215,7,1,False,False,...,True,False,False,True,False,False,False,True,False,False
7,1000004,1,1,15.000000,12.668243,15854,7,1,False,False,...,True,False,False,True,False,False,False,True,False,False
8,1000004,1,1,16.000000,12.668243,15686,7,1,False,False,...,True,False,False,True,False,False,False,True,False,False
9,1000005,1,8,9.842329,12.668243,7871,20,0,False,False,...,False,False,False,True,False,True,False,False,False,False
10,1000005,1,5,11.000000,12.668243,5254,20,0,False,False,...,False,False,False,True,False,True,False,False,False,False
11,1000005,1,8,9.842329,12.668243,3957,20,0,False,False,...,False,False,False,True,False,True,False,False,False,False
12,1000005,1,8,9.842329,12.668243,6073,20,0,False,False,...,False,False,False,True,False,True,False,False,False,False
13,1000005,1,1,2.000000,5.000000,15665,20,1,False,False,...,False,False,False,True,False,True,False,False,False,False
14,1000006,0,5,8.000000,14.000000,5378,9,0,False,False,...,False,False,False,False,False,False,False,False,True,False
15,1000006,0,4,5.000000,12.668243,2079,9,0,False,False,...,False,False,False,False,False,False,False,False,True,False
16,1000006,0,2,3.000000,4.000000,13055,9,1,False,False,...,False,False,False,False,False,False,False,False,True,False
17,1000006,0,5,14.000000,12.668243,8851,9,0,False,False,...,False,False,False,False,False,False,False,False,True,False
18,1000007,1,1,14.000000,16.000000,11788,1,1,False,False,...,False,False,False,True,False,False,True,False,False,False
19,1000008,1,1,5.000000,15.000000,19614,12,1,False,False,...,False,False,True,True,False,True,False,False,False,False

In [24]:
y = df_encoded["High_Value_Purchase"]
X = df_encoded.drop(columns=["High_Value_Purchase", "User_ID"], errors='ignore')

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [26]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

In [28]:
scaler = StandardScaler()

num_cols_after = X_train.select_dtypes(include=[np.number]).columns.tolist()

X_train_scaled = X_train.copy()
X_test_scaled = X_test.copy()

X_train_scaled[num_cols_after] = scaler.fit_transform(X_train[num_cols_after])
X_test_scaled[num_cols_after] = scaler.transform(X_test[num_cols_after])

In [29]:
log = LogisticRegression(max_iter=2000, random_state=42)

# Fit
log.fit(X_train_scaled, y_train)

# Predict
pred_lr = log.predict(X_test_scaled)

# Evaluate
acc_lr = accuracy_score(y_test, pred_lr)
cm_lr = confusion_matrix(y_test, pred_lr)
report_lr = classification_report(y_test, pred_lr, digits=4)

In [31]:
print("Accuracy (Logistic Regression):", round(acc_lr, 4))
print("Confusion Matrix:\n", cm_lr)
print("\nClassification Report:\n", report_lr)

Accuracy (Logistic Regression): 0.9958
Confusion Matrix:
 [[72095    11]
 [  456 37452]]

Classification Report:
               precision    recall  f1-score   support

           0     0.9937    0.9998    0.9968     72106
           1     0.9997    0.9880    0.9938     37908

    accuracy                         0.9958    110014
   macro avg     0.9967    0.9939    0.9953    110014
weighted avg     0.9958    0.9958    0.9957    110014

In [33]:
pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (2.20.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (2.3.1)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (25.9.23)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (0.6.0)
Requirement already satisfied: google_pasta>=0.1.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (18.1.1)
Requirement already satisfied: opt_einsum>=2.3.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (3.4.0)
Requirement already satisfied: packaging in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (25.0)
Requirement already satisfied: protobuf>=5.28.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (6.33.1)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (2.32.5)
Requirement already satisfied: setuptools in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (65.5.0)
Requirement already satisfied: six>=1.12.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (3.2.0)
Requirement already satisfied: typing_extensions>=3.6.6 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (4.15.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (2.0.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (1.76.0)
Requirement already satisfied: tensorboard~=2.20.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (2.20.0)
Requirement already satisfied: keras>=3.10.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (3.12.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (2.3.4)
Requirement already satisfied: h5py>=3.11.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (3.15.1)
Requirement already satisfied: ml_dtypes<1.0.0,>=0.5.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorflow) (0.5.4)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.45.1)
Requirement already satisfied: rich in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from keras>=3.10.0->tensorflow) (14.2.0)
Requirement already satisfied: namex in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from keras>=3.10.0->tensorflow) (0.1.0)
Requirement already satisfied: optree in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from keras>=3.10.0->tensorflow) (0.18.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from requests<3,>=2.21.0->tensorflow) (2025.10.5)
Requirement already satisfied: markdown>=2.6.8 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorboard~=2.20.0->tensorflow) (3.10)
Requirement already satisfied: pillow in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorboard~=2.20.0->tensorflow) (12.0.0)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorboard~=2.20.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from tensorboard~=2.20.0->tensorflow) (3.1.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from werkzeug>=1.0.1->tensorboard~=2.20.0->tensorflow) (3.0.3)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from rich->keras>=3.10.0->tensorflow) (4.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from rich->keras>=3.10.0->tensorflow) (2.19.2)
Requirement already satisfied: mdurl~=0.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.10.0->tensorflow) (0.1.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [34]:
import tensorflow as tf 
from tensorflow.keras import models, layers, callbacks

In [36]:
input_dim = X_train_scaled.shape[1]

mlp = models.Sequential([
    layers.InputLayer(input_shape=(input_dim,)),
    layers.Dense(64, activation='relu'),
    layers.Dense(32, activation='relu'),
    layers.Dense(1, activation='sigmoid')
])

mlp.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy']
)

# Convert to numpy arrays for Keras and ensure numeric dtypes (fixes "Invalid dtype: object")
X_train_np = X_train_scaled.values
X_test_np = X_test_scaled.values

# If any object dtype sneaked in, coerce columns to numeric and fill NaNs
if X_train_np.dtype == object or X_test_np.dtype == object:
    X_train_scaled = X_train_scaled.apply(pd.to_numeric, errors='coerce').fillna(0)
    X_test_scaled = X_test_scaled.apply(pd.to_numeric, errors='coerce').fillna(0)
    X_train_np = X_train_scaled.values
    X_test_np = X_test_scaled.values

# Cast to float32 for TensorFlow
X_train_np = X_train_np.astype('float32')
X_test_np = X_test_np.astype('float32')
y_train_np = y_train.values.astype('float32')
y_test_np = y_test.values.astype('float32')

# Early stopping is optional but helpful if you run many epochs
es = callbacks.EarlyStopping(monitor='val_loss', patience=3, restore_best_weights=True)

history = mlp.fit(
    X_train_np, y_train_np,
    validation_split=0.1,
    epochs=15,
    batch_size=64,
    callbacks=[es],
    verbose=1
)

# Evaluate on test set
loss_mlp, acc_mlp = mlp.evaluate(X_test_np, y_test_np, verbose=0)
print("MLP test accuracy:", round(acc_mlp, 4))

# Predict probabilities and classes
y_pred_prob_mlp = mlp.predict(X_test_np).ravel()
y_pred_mlp = (y_pred_prob_mlp >= 0.5).astype(int)

c:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\input_layer.py:27: UserWarning: Argument `input_shape` is deprecated. Use `shape` instead.
  warnings.warn(

Epoch 1/15
6189/6189 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 11s 2ms/step - accuracy: 0.9841 - loss: 0.0370 - val_accuracy: 0.9875 - val_loss: 0.0247
Epoch 2/15
6189/6189 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 8s 1ms/step - accuracy: 0.9918 - loss: 0.0180 - val_accuracy: 0.9918 - val_loss: 0.0185
Epoch 3/15
6189/6189 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 8s 1ms/step - accuracy: 0.9940 - loss: 0.0136 - val_accuracy: 0.9945 - val_loss: 0.0139
Epoch 4/15
6189/6189 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 8s 1ms/step - accuracy: 0.9949 - loss: 0.0117 - val_accuracy: 0.9941 - val_loss: 0.0140
Epoch 5/15
6189/6189 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 8s 1ms/step - accuracy: 0.9955 - loss: 0.0103 - val_accuracy: 0.9948 - val_loss: 0.0129
Epoch 6/15
6189/6189 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 8s 1ms/step - accuracy: 0.9960 - loss: 0.0091 - val_accuracy: 0.9949 - val_loss: 0.0128
Epoch 7/15
6189/6189 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 8s 1ms/step - accuracy: 0.9965 - loss: 0.0082 - val_accuracy: 0.9950 - val_loss: 0.0125
Epoch 8/15
6189/6189 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 8s 1ms/step - accuracy: 0.9968 - loss: 0.0076 - val_accuracy: 0.9948 - val_loss: 0.0144
Epoch 9/15
6189/6189 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 8s 1ms/step - accuracy: 0.9971 - loss: 0.0069 - val_accuracy: 0.9955 - val_loss: 0.0126
Epoch 10/15
6189/6189 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 8s 1ms/step - accuracy: 0.9974 - loss: 0.0063 - val_accuracy: 0.9949 - val_loss: 0.0139
MLP test accuracy: 0.9952
3438/3438 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 553us/step

In [37]:
round(acc_lr,4)

0.9958

In [38]:
round(acc_mlp,4)

0.9952